[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = gh:tpope/vim-fugitive.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git://github.com/derekwyatt/vim-scala.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/AutoTag"]
	path = bundle/AutoTag
	url = git://github.com/vim-scripts/AutoTag.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-thrift"]
	path = bundle/vim-thrift
	url = gh:agrewal/vim-thrift
[submodule "bundle/nerdtree-ack"]
	path = bundle/nerdtree-ack
	url = git://github.com/vim-scripts/nerdtree-ack.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/taskpaper"]
	path = bundle/taskpaper
	url = git://github.com/davidoc/taskpaper.vim.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = gh:vim-scripts/vimwiki
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
